/* #### */
/* All page */
* {
    font-family: sans-serif;
    font-size: 100%;
}

/* #### */
/* Elements */
input {
    font-weight: 600;
    margin-bottom: 1.8%;
    display: block;
    margin: auto;
    margin-top: 3.5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 5.8px;
    border-color: rgb(255, 0, 68);
    transform: rotate(-4deg);
}

button {
    font-weight: 560;
    padding: 4px 20px;
    display: block;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 7px;
    border-color: rgb(255, 0, 68);
    /* box-shadow: ; */
    /* El primero es el eje X, el segundo el eje Y, el tercero es el desenfoque de la sombra,el cuarto es el tamaño de la sombra y por ultimo el color (el text-shadow: ; no tiene tamaño de la sombra, solo difuminado) */
    box-shadow: 3px 3px 3px 0 #000;
    transform: rotate(7deg);
}

body {
    background-color: rgb(255, 123, 0);
}

img {
    display: block;
    margin: 0 auto;
    border-color: rgb(255, 0, 68);
}

/* #### */
/* class */
.primera-parte {
    background-color: rgb(220, 210, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segunda-parte {
    background-color: blueviolet;
}

.tercera-parte {
    background-color: rgb(255, 0, 68);
}


