/* #### */
/* All page */
* {
    font-family: sans-serif;
    font-size: 17px;
}

/* #### */
/* Elements */
input {
    font-weight: 600;
    margin-bottom: 1.8%;
    display: block;
    margin: auto;
    margin-top: 3.5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 5.8px;
    border-color: rgb(255, 0, 68);
    transform: rotate(-4deg);
}

body {
    background-color: rgb(255, 123, 0);
}

img {
    display: block;
    margin: 0 auto;
    border-color: rgb(255, 0, 68);
    border-radius: 5px;
}

/* #### */
/* class */
.primera-parte {
    background-color: rgb(220, 210, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segunda-parte {
    background-color: blueviolet;
}

.tercera-parte {
    background-color: rgb(255, 0, 68);
}

#primer-boton {
    font-weight: 560;
    padding: 4px 20px;
    display: block;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 7px;
    border-color: rgb(255, 0, 68);
    box-shadow: 3px 3px 3px 0 #000;
    transform: rotate(7deg);
    cursor: pointer;
}

.texto-prueba {
    margin-top: 26px; 
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../IMAGENES/monstruoHoja.png');
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

a:link {
    color: rgb(205, 2, 56);
}

a:visited {
    color:gray;
}

a:hover {
    color: black;
}

a:active {
    color: red;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid ;
}

th:hover {
    background-color: rgb(222, 237, 9);
}

tr:nth-child(even) {
    background-color: #000;
    color: blueviolet;
    border-color: blueviolet;
}



